<ion-header>
    <ion-toolbar>
        <ion-title>
            Course contents
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="true"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button ion-button="ion-button" block="block" (click)="dismissModal()">
                Switch Category</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment (ionChange)="contentDisplayChanged($event)" [(ngModel)]="displaySource">
        <ion-segment-button color="warning" value="cloud" style="max-width: unset;">
            <ion-label>Cloud</ion-label>
        </ion-segment-button>
        <ion-segment-button color="warning" value="device" style="max-width: unset;">
            <ion-label>Device</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
   

    <ion-grid style="height: 100%" *ngIf="!courseContent.length">
        <ion-row justify-content-center align-items-center class="justify-center">
          <div text-center>
            <ion-icon name="images" style="zoom:5.0;" color="medium"></ion-icon>
            <h4>No course content available!</h4>
            <!-- <p>Looks like there are no classes available at this moment.
            </p> -->
          </div>
        </ion-row>
      </ion-grid>

    <ion-grid class="grid" *ngIf="courseContent.length">
        <ion-row class="ion-justify-content-center">
            <ion-card class="item-card level" *ngFor="let item of courseContent | categoryFilter | async">
                <ion-item color="dark">
                    <ion-label>
                        <b>{{ item.key?.length ? item.key : 'Courses' }}</b>
                        <ion-badge mode="ios" color="warning" slot="end">{{item.length}}</ion-badge>
                    </ion-label>

                    <ion-button slot="end" color="success" shape="round" fill="outline" (click)="enableDisableBulkOffline(item.content)">
                        <ion-icon [name]="item.content | offlineStatus"></ion-icon>
                    </ion-button>

                    <ion-button slot="end" color="secondary" shape="round" fill="outline" (click)="item.level = !item.level">
                        <ion-icon *ngIf="!item.level" name="eye"></ion-icon>
                        <ion-icon *ngIf="item.level" name="eye-off"></ion-icon>
                    </ion-button>
                </ion-item>
                <div *ngIf="item.level">
                    <ion-footer *ngFor="let course of item.content">
                        <ion-list>
                            <ion-item lines="none">
                                <ion-label style="min-width: 70%;" (click)="ContentViewer(course)">
                                    <h2>{{course.courseName | titlecase}}
                                        <ion-badge mode="ios" color="warning" slot="end" *ngIf="course.saveProgress>0">
                                            in progress
                                        </ion-badge>

                                        <ion-badge mode="ios" color="success" slot="end" *ngIf="course.isOffline && course.saveProgress===0">
                                            <ion-icon aria-hidden="true" [name]="contentOfflineService.getOfflineStatusIcon(course.isOffline)"></ion-icon>
                                        </ion-badge>
                                    </h2>
                                    <p>{{course.courseDescription}}</p>
                                </ion-label>
                                <ion-icon name="ellipsis-vertical" (click)="actionPopover($event, course)" slot="end"></ion-icon>
                            </ion-item>
                        </ion-list>
                    </ion-footer>
                </div>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
