
.grid {
    .grid-items {
        margin-bottom: 20px;
    }

    .item-card {
        cursor: pointer;
        height: 100%;
        width: 300px;
    }

    .level {
        width: 100% !important;
    }
}


.ion-img-viewer {
    --ion-header {
        position: relative !important;
    }
    --height: 100% !important;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .show-lg-only { display: none; }
  .show-sm-only { display: block; }
}

@media screen and (min-width: 641px) {
  .show-lg-only { display: block; }
  .show-sm-only { display: none; }  
}


