.grid {
    .grid-items {
        margin-bottom: 20px;
    }

    .item-card {
        cursor: pointer;
        height: 100%;
        width: 100%;
    }
}

.ion-img-viewer {
    --ion-header {
        position: relative !important;
    }
    --height: 100% !important;
}


