.grid {
    .grid-items {
        margin-bottom: 20px;
    }

    .item-card {
        cursor: pointer;
        height: 100%;
        width: 300px;
    }
}

.pop-over-style {
    .popover-content {
        //width: 80% !important; - this wont work or the bottom one.
        --width: 100px !important;
    }
}

.justify-center {
    height         : 100%;
    flex-direction : column;
    text-align     : center;
    justify-content: center;
}