<ion-header>
  <ion-toolbar>
    <ion-title>{{ schoolName }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button ion-button block (click)='selectSchool()'>Choose School</ion-button>
    </ion-buttons>
    <ion-item [hidden]='true'>
      <ion-label>Choose School</ion-label>
      <ion-select placeholder="School" #schoolList (ionChange)='setSchool($event)'>
        <ion-select-option *ngFor="let school of schools" value="{{ school.id }}">{{ school.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-card *ngFor="let classRoom of classRooms" class="item-card">
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              <h3> <strong>Class:</strong>  {{classRoom.classRoomName}}</h3>
            </ion-label>
            <ion-icon name="ellipsis-vertical-outline" (click)="actionPopover($event, classRoom.classId)" slot="end">
            </ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h3> <strong>Division:</strong> {{classRoom.classDivision}}</h3>
            </ion-label>
          </ion-item>
        </ion-card-content>
        <ion-footer>
          <ion-grid>
            <ion-row justify-content-around>
              <ion-col>
                <ion-button expand="block" (click)="StudentList($event, classRoom.classId)" fill="clear">
                   Students
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" (click)="NewStudent($event, classRoom.classId)" fill="clear">
                  New Student
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>