.grid {
    .grid-items {
        margin-bottom: 20px;
    }

    .item-card {
        cursor: pointer;
        height          : 100% !important;
        width           : 300px !important;
    }
}

.justify-center {
    height         : 100%;
    flex-direction : column;
    text-align     : center;
    justify-content: center;
    cursor: pointer;
}