<ion-header>
    <ion-toolbar>
        <ion-title>Students</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button ion-button block (click)='selectClass()'>Choose Class</ion-button>
        </ion-buttons>
        <ion-item [hidden]='true'>
            <ion-label>Choose Class</ion-label>
            <ion-select placeholder="School" #classList (ionChange)='setClassRoom($event)' interface="popover">
                <ion-select-option *ngFor="let classRoom of classRooms" value="{{ classRoom.classId }}">
                    {{ classRoom.classRoomName }} - {{ classRoom.classDivision }}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="grid" *ngIf="students.length">
        <ion-row class="ion-justify-content-center">
            <ion-card class="item-card" *ngFor="let student of students">
                <ion-card-content>
                    <div class="contact-grid">
                        <div class="profile-header l-bg-orange">
                            <ion-icon class="header-dropdown m-r--5" (click)="actionPopover($event, student.id)"
                                name="ellipsis-vertical-outline" slot="end"></ion-icon>
                            <div class="user-name">{{ student.firstName | titlecase }} {{student.lastName | titlecase}}
                            </div>
                            <div class="name-center">{{ student.email }}</div>
                        </div>

                        <img defaultImage="assets/images/avatar.svg"  class="user-img" [lazyLoad]="student.profileStoragePath" />
                        <p> {{student.address1}} {{student.address2}} , {{student.city}} </p>
                        <br /> {{student.state}}, {{student.country}} - {{student.zip}}

                        <div>
                            <span class="phone">
                                <i class="material-icons">phone</i>264-625-2583</span>
                        </div>

                    </div>
                </ion-card-content>
                <ion-footer>
                    <ion-grid>
                        <ion-row justify-content-around>
                            <ion-col>
                                <ion-button expand="block" (click)="UploadPhoto(student.id)" fill="clear">
                                    Upload photo
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button expand="block" (click)="StudentEdit(student.id)" fill="clear">
                                    Edit
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-footer>
            </ion-card>
        </ion-row>
    </ion-grid>
    <ion-grid style="height: 100%" *ngIf="!students.length">
        <ion-row justify-content-center align-items-center class="justify-center">
            <div text-center>
                <ion-icon name="images" style="zoom:5.0;" color="medium"></ion-icon>
                <h4>No Student Found</h4>
                <p>Looks like there are no student available at this moment.</p>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>