<ion-list>
  <ion-item>
    <ion-label>City</ion-label>
    <ion-select placeholder="Select One" multiple="false" [(ngModel)]="city" (ionChange)="changeCity()">
      <ion-select-option>City Temp</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>School</ion-label>
    <ion-select [interfaceOptions]="{'cssClass': 'filter-wider-popover'}" placeholder="Select One" multiple="true" [(ngModel)]="school" (ionChange)="changeSchool()">
      <ion-select-option *ngFor="let school of schools" [value]="school">{{school.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Class</ion-label>
    <ion-select [interfaceOptions]="{'cssClass': 'filter-wider-popover'}" placeholder="Select One" multiple="true" [(ngModel)]="class" (ionChange)="changeClass()">
      <ion-select-option *ngFor="let class of classes" [value]="class">{{class.name}} - {{class.school}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>