ion-card {
    cursor: pointer;
}

  .number-circle {
    --padding-top: 10px;
    --padding-end: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    line-height: 30px;
    white-space: pre-wrap;
}