<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="course-category">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Category(Subject)</mat-label>
                <input matInput required autocomplete="off" type="text" formControlName="categoryName">
                <mat-icon matSuffix>
                </mat-icon>

              </mat-form-field>
              <div class="container-login100-form-btn">
                <button item-end mat-flat-button color="primary" type="submit" class="login100-form-btn">
                  Add
                </button>
                <button item-end mat-flat-button color="primary" (click)="AddCategoryAndClose()" class="login100-form-btn"
                  style="margin-left: 10px;">
                  Select
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-3">

              <ion-item *ngFor="let category of categoryList; let i = index" lines="none">
                <span> {{category.name}} </span>
                <a class="txt1 float-right" slot="end" (click)="selectCategory(category)">Select</a>
              </ion-item>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</ion-content>