<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ngx-extended-pdf-viewer [src]="contentURL"
  [height]="'90vh'" [useBrowserLocale]="true" [showSidebarButton]="true" [showFindButton]="true"
  [showPagingButtons]="true" [showZoomButtons]="true" [showPresentationModeButton]="true" [showOpenFileButton]="false"
  [showPrintButton]="false" [showDownloadButton]="true" [showBookmarkButton]="false"
  [showSecondaryToolbarButton]="true" [showRotateButton]="true" [showHandToolButton]="false"
  [showScrollingButton]="false" [showSpreadButton]="true" [showPropertiesButton]="false" [mobileFriendlyZoom]="'150%'"
  [textLayer]="true">
</ngx-extended-pdf-viewer>
</ion-content>
