<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="contentType">
  <ngx-extended-pdf-viewer [src]="contentURL" *ngSwitchCase="'pdf'" [height]="'90vh'" [useBrowserLocale]="true"
    [showSidebarButton]="true" [showFindButton]="true" [showPagingButtons]="true" [showZoomButtons]="true"
    [showPresentationModeButton]="true" [showOpenFileButton]="false" [showPrintButton]="false"
    [showDownloadButton]="true" [showBookmarkButton]="false" [showSecondaryToolbarButton]="true"
    [showRotateButton]="true" [showHandToolButton]="false" [showScrollingButton]="false" [showSpreadButton]="true"
    [showPropertiesButton]="false" [mobileFriendlyZoom]="'150%'" [textLayer]="true">
  </ngx-extended-pdf-viewer>

  <ion-grid style="height: 100%" *ngSwitchDefault>
    <ion-row justify-content-center align-items-center class="justify-center">
      <div text-center>
        <ion-icon name="images" style="zoom:5.0;" color="medium"></ion-icon>
        <h4>Content not supported
        </h4>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>