<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label>City</ion-label>
                        <ion-select placeholder="Select One" multiple="true" [(ngModel)]="this.cities" (ionChange)="changeCities()">
                        <ion-select-option *ngFor="let city of this.allCities" [value]="city">{{city.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label>School</ion-label>
                        <ion-select [interfaceOptions]="{'cssClass': 'filter-wider-popover'}" placeholder="Select One" multiple="true" [(ngModel)]="this.schools" (ionChange)="changeSchools()">
                        <ion-select-option *ngFor="let school of allSchools" [value]="school" >{{school.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label>Class</ion-label>
                        <ion-select [interfaceOptions]="{'cssClass': 'filter-wider-popover'}" placeholder="Select One" multiple="true" [(ngModel)]="this.classes" (ionChange)="changeClasses()">
                        <ion-select-option *ngFor="let class of allClasses" [value]="class">{{class.classRoomName}} - {{this.data.schools.get(class.schoolId).school.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Start Date</ion-label>
                        <ion-datetime value="2020-9-26" placeholder="Select Date" (ionChange)="changeStartDate($event)"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>End Date</ion-label>
                        <ion-datetime value="2020-10-26" placeholder="Select Date" (ionChange)="changeEndDate(value)"></ion-datetime>
                    </ion-item>    
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="top-row">
            <ion-col size="6" size-sm="3">
                <ion-card>
                    #Total Schools
                    <br>
                    <span>{{this.allSchools.length}}</span>
                    <br>
                    #Active Schools 
                </ion-card>
            </ion-col>
            <ion-col size="6" size-sm="3">
                <ion-card >
                    #Total Teachers
                    <br>
                    #Active Teachers
                </ion-card>
            </ion-col>
            <ion-col size="6" size-sm="3">
                <ion-card>
                    #Total Students
                    <br>
                    #Active Students
                </ion-card>
            </ion-col>
            <ion-col size="6" size-sm="3">
                <ion-card>
                    #Total Classes
                    <br>
                    <span>{{this.allClasses.length}}</span>
                    <br>
                    #Active Classes
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-card (click)="presentModal(this.charts['class-attendance'], 'line')" >
                    <canvas id="class-attendance"></canvas>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm="6">
                <ion-card>
                    <agm-map>
                        <agm-marker></agm-marker>
                    </agm-map>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="6">
                <ion-card>
                    Student Enrollment 
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="bottom-row">
            <ion-col size="12" size-sm="4">
                <ion-card (click)="presentModal(this.charts['city-attendance'], 'bar')" >
                   <canvas id="city-attendance"></canvas>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="4">
                <ion-card (click)="presentModal(this.charts['school-attendance'], 'bar')" >
                    <canvas id="school-attendance"></canvas>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="4">
                <ion-card (click)="presentModal(this.charts['gender-attendance'], 'bar')" >
                    <canvas id="gender-attendance"></canvas>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="bottom-row">
            <ion-col size="12" size-sm="6">
                <ion-card style="overflow: scroll">
                    Classes by #attendance 
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                City
                            </ion-col>
                            <ion-col>
                                School
                            </ion-col>
                            <ion-col>
                                Class
                            </ion-col>
                            <ion-col>
                                Attendance 
                            </ion-col>
                            <ion-col>
                                #Students 
                            </ion-col>
                            <ion-col>
                                #Teachers
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let class of this.classes">
                            <ion-col>
                                {{this.data.schools.get(class.schoolId).school.city}}
                            </ion-col>
                            <ion-col>
                                {{this.data.schools.get(class.schoolId).school.name}}
                            </ion-col>
                            <ion-col>
                                {{class.classRoomName}}
                            </ion-col>
                            <ion-col>
                                Cumulative Attendance 
                            </ion-col>
                            <ion-col>
                                {{class.students.length}}
                            </ion-col>
                            <ion-col>
                                {{this.data.schools.get(class.schoolId).school.teachers.length}}
                            </ion-col>
                        </ion-row>
                      </ion-grid>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="6">
                <ion-card>
                    Schools with low attendance
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

