::ng-deep .filter-wider-popover
{
  --width: 95%;
  --max-width: 400px;
}

.no-col-padding {
    padding: 2px !important; 
}

ion-grid {
    padding: 0px !important;
}

ion-item {
    padding: 0px;
}

ion-card {
    margin: 1px;
    height: 300px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.static-card-font {
    font-size: xx-large;
}

.static-cards {
    height: 100%;
}

ion-icon {
    float: right;
}

.odd-row {
    color: gray; 
}

.even-row {
    color: white; 
}