.container-login100 {
    min-height: 0 !important;
    background: unset !important
}

.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        margin: .55em 0;
    }
}

.wrap-login100 {
    display       : contents !important;
    flex-direction: row !important;
}

.login100-form {
    width  : 100% !important;
    padding: 30px !important;
}

.login100-form-btn {
    width: 30% !important;
}

.mat-input-element:disabled {
    color: inherit;
}

.action-button{
    height: 32px;
    width: 85px;
}

.item-card {
    cursor: pointer;
    // max-height: 200px !important;
    // width: 100%;
    // img{
    //     width: 100% !important;
    //     max-height: 200px !important;
    // }

    .trash-icon {
        float: right;
        padding: 5px;
        font-size: 20px;
    }
}

.column-card-image {
    width: 170px !important;
    height: 150px !important;
}

// @media only screen and (max-width: 980px) {
//     .column-card-image {
//         max-width: 150px !important;
//         max-height: 150px !important;
//     }
// }

.contact-grid {
    float: unset !important;

    ion-icon {
        font-size: x-large;
        position : absolute;
        right    : 30px;
        top      : 27px;
    }
}