.container-login100 {
    min-height: 0 !important;
    background: unset !important
}

.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        margin: .55em 0;
    }
}

.wrap-login100 {
    display       : contents !important;
    flex-direction: row !important;
}

.login100-form {
    width  : 100% !important;
    padding: 30px !important;
}

.login100-form-btn {
    width: 46% !important;
}

.mat-input-element:disabled {
    color: inherit;
}
