<ion-header>
  <ion-toolbar>
    <ion-title>Question</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backURL"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button ion-button block [routerLink]="backURL">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="questionForm" (ngSubmit)="SubmitQuestion()"
          #documentEditForm="ngForm">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Question Type</mat-label>
                <mat-select formControlName="questionType" required (selectionChange)="onChangeQuestionType($event)"
                  #selectedType>
                  <mat-option [value]="'Objective'">
                    Multiple Choice
                  </mat-option>
                  <mat-option [value]="'TrueFalse'">
                    True/False
                  </mat-option>
                  <mat-option [value]="'ShortAnswer'">
                    Short Answer
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="questionForm.get('questionType').hasError('required')">
                  Question type is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <ion-item slot="start" lines="none" color="none">
                <ion-label>Select image</ion-label>
                <ion-toggle color="warning"  (ionChange)="imageSelectToggle()"></ion-toggle>
              </ion-item>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" [ngClass]="{'col-md-6 col-xl-6 col-lg-6': questionImagePath}">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Question</mat-label>
              <textarea matInput placeholder="Question" value="" formControlName="question" required autocomplete="off"
                rows="4"></textarea>
              <mat-icon matSuffix>
              </mat-icon>
              <mat-error *ngIf="questionForm.get('question').hasError('required')">
                A question is required to proceed.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12" *ngIf="questionImagePath">
            <ion-card class="item-card">
              <ion-card-content>
                <div class="contact-grid" (click)="editImage()">
              <ion-icon class="header-dropdown m-r--5" (click)="editImage()" name="camera" slot="end">
              </ion-icon>
              <img [decode]="isImageSelect" defaultImage="assets/images/image-wait.gif" errorImage="assessment"
               [lazyLoad]="questionImagePath" />
              </div>
            </ion-card-content>
            </ion-card>
          </div>
          </div>
          <div class="row">
          <div *ngIf="selectedType.value==='ShortAnswer'" class="col-md-12 col-sm-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Short answer</mat-label>
              <textarea matInput placeholder="Short answer" value="" formControlName="shortAnswer" autocomplete="off"
                rows="4"></textarea>
              <mat-icon matSuffix>
              </mat-icon>
            </mat-form-field>
          </div>
          </div>
          <ion-radio-group *ngIf="selectedType.value!=='ShortAnswer'" [value]="question?.optionAnswer"
            (ionChange)="selectedAnswerOption($event)">
            <div class="row">
            <div [formGroup]="option" class="col-xl-6 col-lg-6 col-md-12 col-sm-12"
              *ngFor="let option of t.controls;  let i = index">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Answer option {{ i + 1 }}</mat-label>
                <input matInput placeholder="Answer" formControlName="option" autocomplete="off">
                <ion-radio class="item" matSuffix [value]="i+1" [name]="i+1"></ion-radio>
              </mat-form-field>
            </div>
            </div>
          </ion-radio-group>
        
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12" style="text-align: center;">
            <button mat-flat-button type="button" color="secondary"
              class="login100-form-btn container-login100-form-btn" [routerLink]="backURL">
              Cancel
            </button>
            <button mat-flat-button color="primary" class="login100-form-btn container-login100-form-btn"
              [disabled]="!questionForm.valid" type="submit" style="margin-left: 5px;">
              Save
            </button>
          </div>
         
        </form>
      </div>
    </div>
  </div>
  <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*" />
</ion-content>