.container-login100 {
    min-height: 0 !important;
    background: unset !important
}

.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        margin: .55em 0;
    }
}

.wrap-login100 {
    display       : contents !important;
    flex-direction: row !important;
}

.login100-form {
    width  : 100% !important;
    padding: 30px !important;
}

.login100-form-btn {
    width: 46% !important;
}

.mat-input-element:disabled {
    color: inherit;
}

.item-card {
    cursor: pointer;
    // max-height: 200px !important;
    // width: 100%;
    img{
        width: 100% !important;
        max-height: 200px !important;
    }
}

.column-card-image {
    max-width: 150px !important;
    max-height: 150px !important;
}

.contact-grid {
    float: unset !important;

    ion-icon {
        font-size: x-large;
        position : absolute;
        right    : 30px;
        top      : 27px;
    }
}