<ion-header>
  <ion-toolbar>
    <ion-title>Offline websites</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="openWebContent(website.url)" *ngFor="let website of offlineWebsites">
    <ion-card-content>
      <ion-item lines="none">
        <ion-badge slot="start" color="danger" class="date-circle">{{ website.id}}</ion-badge>
        <ion-label>
          <h2>{{ website.title}}</h2>
          <p>{{ website.description}} </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>