.grid {
    .grid-items {
        margin-bottom: 20px;
    }

    .item-card {
        //cursor: pointer;
        height          : 100% !important;
        width           : 100% !important;
    }

}

.container-login100 {
    min-height: 0 !important;
    background: unset !important
}

.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        margin: .55em 0;
    }
}

.wrap-login100 {
    display       : contents !important;
    flex-direction: row !important;
}

.login100-form {
    width  : 100% !important;
    padding: 0px !important;
}

.justify-center {
    height         : 100%;
    flex-direction : column;
    text-align     : center;
    justify-content: center;
    cursor: pointer;
}

.match-column {
    // .item-card {
    //     cursor: pointer;
    //     // max-height: 200px !important;
    //     // width: 100%;
    //     img{
    //         width: 100% !important;
    //         max-height: 200px !important;
    //     }
    // }
    
    .column-card-image {
        max-width: 300px !important;
        max-height: 300px !important;
    }

    @media only screen and (max-width: 980px) {
        .column-card-image {
            max-width: 150px !important;
            max-height: 150px !important;
        }
    }
    
    .contact-grid {
        float: unset !important;
    
        ion-icon {
            font-size: x-large;
            position : absolute;
            right    : 30px;
            top      : 27px;
        }
    }
}