<ion-header>
  <ion-toolbar>
    <ion-title>{{title|titlecase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button size="small" defaultHref="/assessments"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" [routerLink]="['/assessments']" ion-button block>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form">
            <ion-row class="ion-justify-content-center">
              <ion-card class="item-card">
                <ion-item lines="full">
                  <ion-card-header>
                    <h1>
                      {{assessment?.assessmentTitle | titlecase}}
                    </h1>
                    <p>
                      {{assessment?.assessmentDescription | titlecase}}
                    </p>
                  </ion-card-header>
                </ion-item>
                <div *ngFor="let question of assessment?.assessmentQuestions; index as i">
                  <ion-card-content *ngIf="i===visibleQuestion">
                    <ion-list>

                      <ion-label><b>Q{{i+1}}. {{question.questionDescription}}</b></ion-label>
                      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12" *ngIf="question.questionImagePath">
                        <ion-card class="item-card">
                          <ion-card-content>
                          <img defaultImage="assets/images/image-wait.gif" errorImage="assessment"
                           [lazyLoad]="question.questionImagePath" />
                        </ion-card-content>
                        </ion-card>
                      </div>

                      <div [ngSwitch]="question.questionType">
                        <ion-item-group *ngSwitchCase="'ShortAnswer'">
                          <ion-item lines="none">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Answer</mat-label>
                              <textarea matInput placeholder="Enter answer here" value="" autocomplete="off" rows="4"
                                #answer (keyup)="shortAnswerText(answer, question.id)"></textarea>
                              <mat-icon matSuffix>
                              </mat-icon>
                            </mat-form-field>
                          </ion-item>
                        </ion-item-group>
                        <ion-item-group *ngSwitchCase="'Objective'">
                          <ion-radio-group mode="md" (ionChange)="selectedAnswerOption(optionAnswer)" #optionAnswer>
                            <ion-item lines="none" *ngFor="let option of options">
                              <ion-label [color]="validateAnswerColor(optionAnswer, option, question)">
                                {{question.questionOptions[option] | titlecase}}</ion-label>
                              <ion-radio [color]="validateAnswerColor(optionAnswer, option, question)" slot="start"
                                [value]="{option: option, question: question}" [name]="option"></ion-radio>
                            </ion-item>
                          </ion-radio-group>
                        </ion-item-group>
                        <ion-item-group *ngSwitchCase="'TrueFalse'">
                          <ion-radio-group mode="md" (ionChange)="selectedAnswerOption(trueFalseAnswer)"
                            #trueFalseAnswer>
                            <ion-item lines="none">
                              <ion-label [color]="validateAnswerColor(trueFalseAnswer, 1, question)">True</ion-label>
                              <ion-radio [color]="validateAnswerColor(trueFalseAnswer, 1, question)" slot="start"
                                [value]="{option: 1, question: question}"></ion-radio>
                            </ion-item>
                            <ion-item lines="none">
                              <ion-label [color]="validateAnswerColor(trueFalseAnswer, 2, question)">False</ion-label>
                              <ion-radio [color]="validateAnswerColor(trueFalseAnswer, 2, question)" slot="start"
                                [value]="{option: 2, question: question}"></ion-radio>
                            </ion-item>
                          </ion-radio-group>
                        </ion-item-group>
                      </div>
                      <ion-footer style="padding: 10px;">
                        <ion-button size="small" color="secondary" *ngIf="isNext && i!==questionCount" (click)="moveNextQuestion()"
                          class="float-right" shape="round" fill="outline">
                          Next Question
                        </ion-button>
                        <ion-button size="small" color="secondary" (click)="SubmitAssessment()" *ngIf="isNext && i===questionCount"
                          class="float-right" shape="round" fill="outline">
                          Submit
                        </ion-button>
                      </ion-footer>
                    </ion-list>
                  </ion-card-content>
                </div>

                <ion-row justify-content-center align-items-center class="justify-center"
                  *ngIf="!assessment?.assessmentQuestions.length">

                  <ion-card-header>
                    <div text-center>
                      <img src="../../../../assets/images/assessment.svg" style="height: 40px;">
                      <h4>No assessment question(s) available!</h4>
                    </div>
                  </ion-card-header>
                </ion-row>
              </ion-card>
            </ion-row>
          </form>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>