
.grid {
  .grid-items {
      margin-bottom: 20px;
  }

  .item-card {
      cursor: pointer;
      height: 100%;
      width: 400px;
  }
}


// ion-card {
//   ion-item {
//     cursor       : pointer;
//     border-radius: 5px;

//     ion-button {
//       height: 35px;
//     }
//   }
// }

.number-circle {
  --padding-top   : 0px;
  --padding-end   : 4px;
  --padding-bottom: 4px;
  --padding-start : 4px;
  border-radius   : 20px;
  height          : 30px;
  width           : 30px;
  line-height     : 30px;
  margin-inline-end: 20px !important;
  white-space     : pre-wrap;
}
