<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="powerBIConfig">
  <ngx-powerbi-component [type]="powerBIConfig.reportType" [id]="powerBIConfig.reportId"
    [embedUrl]="powerBIConfig.embedUrl"
    [tokenType]="powerBIConfig.tokenType"
    [accessToken]="powerBIConfig.accessToken"
    on-embedded="onEmbedded($event)">
  </ngx-powerbi-component>
</ion-content>

<ion-content *ngIf="!powerBIConfig">
  Offline 
</ion-content>