<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Schools</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><b>First Name:</b> {{currentUser.firstName | titlecase}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Last Name:</b> {{currentUser.lastName  | titlecase}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{currentUser.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Role: {{currentUser.role}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Token:<p>{{currentUser.token}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>