.wrap-login100 {
    display: contents !important;
    flex-direction: row !important;
}
.container-login100 {
    min-height: inherit;
    background: inherit;
}

.login100-form {
    border-radius: 20px;
}
