<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="md-form-backing"></div>
  <!-- <img class="md-avatar" *ngIf="user.current?.image" [src]="user.current.image"> -->
  <div class="md-avatar">{{GetInitials() | uppercase}}</div>

  <!-- <label class="md-avatar-upload" role="button" tabindex="0" >
      <input #fileInput type="file" class="hide" (change)="selectAvatar($event)" />
      Upload Photo
  </label> -->

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="profileForm" (ngSubmit)="UpdateProfile()">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" required autocomplete="off">
            <mat-icon matSuffix>
              <ion-icon name="person-circle-outline"></ion-icon>
            </mat-icon>
            <mat-error *ngIf="profileForm.get('firstname').hasError('required')">
              A first name is required to proceed.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" required autocomplete="off">
            <mat-icon matSuffix>
              <ion-icon name="person-circle-outline"></ion-icon>
            </mat-icon>
            <mat-error *ngIf="profileForm.get('lastname').hasError('required')">
              A last name is required to proceed.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required autocomplete="off">
            <mat-icon matSuffix>
              <ion-icon name="mail-outline"></ion-icon>
            </mat-icon>
            <mat-error *ngIf="profileForm.get('email').hasError('required') || profileForm.get('email').touched">
              A valid email address is required in order to proceed.
            </mat-error>
          </mat-form-field>
          <mat-form-field style="margin: .55em 0;" class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="••••••••••••••••"
              [type]="hide ? 'password' : 'text'" autocomplete="new-password">
            <mat-icon matSuffix>
              <ion-icon name="key-outline"></ion-icon>
            </mat-icon>
            <mat-error
              *ngIf="profileForm.get('password').invalid && (profileForm.get('password').dirty || profileForm.get('password').touched)">
              A valid password must be at least seven characters and contain one number or special character.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="cpassword" placeholder="••••••••••••••••"
              [type]="chide ? 'password' : 'text'" autocomplete="off">
            <mat-icon matSuffix>
              <ion-icon name="key-outline"></ion-icon>
            </mat-icon>
            <mat-error *ngIf="profileForm.get('cpassword').validator">
              Password and Confirm Password must be match.
            </mat-error>
          </mat-form-field>
          <div class="container-login100-form-btn">
            <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>