<ion-header>
  <ion-toolbar>
    <ion-title>Teachers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button ion-button block (click)='selectSchool()'>Choose School</ion-button>
    </ion-buttons>
    <ion-item [hidden]='true'>
      <ion-label>Choose School</ion-label>
      <ion-select placeholder="School" #schoolList (ionChange)='setSchool($event)'>
        <ion-select-option *ngFor="let school of schools" value="{{ school.id }}">{{ school.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-card class="item-card" *ngFor="let teacher of teachers">
        <ion-card-content>
          <div class="contact-grid">
            <div class="profile-header l-bg-orange">
              <ion-icon class="header-dropdown m-r--5" (click)="actionPopover($event, teacher.id)"
                name="ellipsis-vertical-outline" slot="end"></ion-icon>
              <div class="user-name">{{ teacher.firstName | titlecase }} {{teacher.lastName | titlecase}}</div>
              <div class="name-center">{{ teacher.email }}</div>
            </div>
            <img src="assets/images/avatar.svg" class="user-img" alt="">
            <p> {{teacher.address1}} {{teacher.address1}} , {{teacher.city}} </p>
            <br /> {{teacher.state}}, {{teacher.country}} - {{teacher.zip}}

            <div>
              <span class="phone">
                <i class="material-icons">phone</i>264-625-2583</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>