<ion-header>
  <ion-toolbar>
    <ion-title>Teachers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button ion-button block (click)='selectSchool()'>Choose School</ion-button>
    </ion-buttons>
    <ion-item [hidden]='true'>
      <ion-label>Choose School</ion-label>
      <ion-select placeholder="School" #schoolList (ionChange)='setSchool($event)'>
        <ion-select-option *ngFor="let school of schools" value="{{ school.id }}">{{ school.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-title class="content-title">School - {{schoolName}}</ion-title>
</ion-item>
  <ion-grid style="height: 100%" *ngIf="!teachers.length">
    <ion-row justify-content-center align-items-center class="justify-center">
      <div text-center>
        <ion-icon name="images" style="zoom:5.0;" color="medium"></ion-icon>
        <h4>No teacher(s) configured for this school(<strong>{{ schoolName }}</strong>)</h4>
        <p>Looks like there are no teacher(s) available at this moment.
        </p>
      </div>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid" *ngIf="teachers.length">
    <ion-row class="ion-justify-content-center">
      <ion-card class="item-card" *ngFor="let teacher of teachers">
        <ion-card-content>
          <div class="contact-grid" (click)="TeacherEdit(teacher.id)" >
            <div class="profile-header l-bg-orange">
              <!-- <ion-icon class="header-dropdown m-r--5" (click)="actionPopover($event, teacher.id)"
                name="ellipsis-vertical-outline" slot="end"></ion-icon> -->
              <div class="user-name">{{ teacher.firstName | titlecase }} {{teacher.lastName | titlecase}}</div>
              <div class="name-center">{{ teacher.email }}</div>
            </div>
            <img src="assets/images/avatar.svg" class="user-img" alt="">
            <p> {{teacher.address1}} {{teacher.address2}} , {{teacher.city}} </p>
            <br /> {{teacher.state}}, {{teacher.country}} - {{teacher.zip}}

            <div>
              <span class="phone">
                <i class="material-icons">phone</i>264-625-2583</span>
            </div>
          </div>
        </ion-card-content>
        <ion-footer>
          <ion-grid>
              <ion-row justify-content-around>
                  <ion-col>
                      <ion-button expand="block" (click)="TeacherEdit(teacher.id)" fill="clear">
                          Edit
                      </ion-button>
                  </ion-col>
                  <ion-col>
                      <ion-button expand="block" (click)="TeacherDelete(teacher.id)" fill="clear">
                          Delete
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-footer>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>