<ion-header>
  <ion-toolbar>
    <ion-title>Assignments</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="teacher/assignment/{{ subjectName}}/subjects"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="currentUser?.role!== 'Student'" slot="end">
      <ion-button ion-button block (click)=UploadAssignment()>Upload</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-card ion-justify-content-center">

    <ion-card *ngFor="let assignment of assignments">
      <ion-card-content>
        <ion-item lines="none" color="light">
          <ion-buttons *ngIf="currentUser?.role === 'Student'" slot="end">
          <ion-button color="primary" (click)=UploadAssignment(assignment) shape="round" fill="outline" class="upload-button">
              <ion-icon slot="start" name="push-outline"></ion-icon>Upload
            </ion-button>
          </ion-buttons>

          <ion-badge *ngIf="currentUser?.role!== 'Student'" slot="end" color="warning" class="number-circle"
            (click)="assignment.badgeToggle = !assignment.badgeToggle">
            <h1>
              <ion-icon *ngIf="!assignment.badgeToggle" name="chevron-down-circle-outline"></ion-icon>
              <ion-icon *ngIf="assignment.badgeToggle" name="chevron-up-circle-outline"></ion-icon>
            </h1>
          </ion-badge>
          <ion-label (click)="ViewTeacherAssignment(assignment)">
            <h2>{{assignment.assignmentName}}</h2>
            <p> {{assignment.assignmentDescription}} </p>
            <p>Date Submitted: <b>{{assignment.createdDate | date: 'yyyy/MM/dd HH:mm:ss'}}</b> </p>
          </ion-label>
        </ion-item>
        <ion-list *ngIf="assignment.badgeToggle">
          <ion-item *ngFor="let item of assignment.studentAssignments" (click)="ViewStudentAssignment(item.assignmentURL, assignment.assignmentName)">
            <ion-badge slot="start" color="danger" class="number-circle">1</ion-badge>
            <ion-label>
              <h2>{{item.studentName}}</h2>
              <p> Submitted Date: <b>{{item.createdDate | date: 'yyyy/MM/dd HH:mm:ss'}}</b> </p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="!assignment.studentAssignments">
            <ion-label color="danger">
              <h2>Assignment not uploaded yet by students</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-content *ngIf="assignmentFor==='student'">
  <div class="main-card ion-justify-content-center">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Date Submitted: <b>15 JUN 2020</b></ion-card-subtitle>
        <ion-card-title>Student Name: <b>Rahul Dravid</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" (click)="openStudentAssignmentInModal()">
          <ion-badge slot="start" color="danger" class="number-circle">1</ion-badge>
          <ion-label>
            <h2>Worksheet of Lesson-1 (The Lazy Squirrel)</h2>
            <p>Details Worksheet of Lesson-1 (The Lazy Squirrel) </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" (click)="openStudentAssignmentInModal()">
          <ion-badge slot="start" color="danger" class="number-circle">2</ion-badge>
          <ion-label>
            <h2>Worksheet of Lesson-1 (The Lazy Squirrel)</h2>
            <p>Details Worksheet of Lesson-1 (The Lazy Squirrel) </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Date Submitted: <b>25 JUN 2020</b></ion-card-subtitle>
        <ion-card-title>Student Name: <b>Mahesh Yadav</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" (click)="openStudentAssignmentInModal()">
          <ion-badge slot="start" color="danger" class="number-circle">1</ion-badge>
          <ion-label>
            <h2>Worksheet of Lesson-2 (The Lazy Squirrel)</h2>
            <p>Details Worksheet of Lesson-1 (The Lazy Squirrel) </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Date Submitted: <b>19 OCT 2020</b></ion-card-subtitle>
        <ion-card-title>Student Name: <b>Sanjeev Sharma</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" (click)="openStudentAssignmentInModal()">
          <ion-badge slot="start" color="danger" class="number-circle">1</ion-badge>
          <ion-label>
            <h2>Worksheet of Lesson-5 (The Lazy Squirrel)</h2>
            <p>Details Worksheet of Lesson-1 (The Lazy Squirrel) </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->