<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <span class="login100-form-title pb-5">
            Change your password
          </span>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field style="margin: .55em 0;" class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" placeholder="••••••••••••••••" autocomplete="new-password">
                <mat-icon matSuffix>
                  <ion-icon name="key-outline"></ion-icon>
                </mat-icon>
                <mat-error
                  *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
                  A valid password must be at least seven characters and contain one number or special character.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="cpassword" type="password" placeholder="••••••••••••••••" autocomplete="off">
                <mat-icon matSuffix>
                  <ion-icon name="key-outline"></ion-icon>
                </mat-icon>
                <mat-error *ngIf="resetPasswordForm.get('cpassword').validator">
                  Password and Confirm Password must be match.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>