<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backURL"></ion-back-button> 
    </ion-buttons>
    <ion-title>Questions</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" slot="end" (click)="AddQuestion()" shape="round" fill="outline">
        New Question
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-card ion-justify-content-center">
    <ion-grid class="grid">
      <ion-row class="ion-justify-content-center">
        <ion-card class="item-card">
          <ion-item-divider color="primary">
            <ion-label>Title: {{assessment?.assessmentTitle}}</ion-label>
            <ion-chip *ngIf="questions.length" outline="true" slot="end" color="light" (click)="ShareQuestions(assessment)">
              <ion-label>Share</ion-label>
              <ion-icon name="share-social-sharp"></ion-icon>
            </ion-chip>
          </ion-item-divider>
          <ion-list lines="full" *ngIf="questions.length">
            <ion-item *ngFor="let question of questions; index as i">
              <ion-chip color="primary">
                {{ i + 1 }}
              </ion-chip>
              <ion-label style="margin-left: 5px;">
                {{question?.questionDescription}}
              </ion-label>
              <ion-icon name="create" color="success" slot="end" (click)="UpdateQuestion(question?.id)"></ion-icon>
              <ion-icon name="trash" color="danger" slot="end" (click)="confirmQuestionDelete(question?.id)"></ion-icon>
            </ion-item>
          </ion-list>
          <ion-row  class="ion-justify-content-center" *ngIf="!questions.length">
            <ion-card class="item-card" style="box-shadow: none;" >
              <ion-card-content  class="ion-text-center">
                <div style="display: flex;" class="ion-justify-content-center">
                  <ion-avatar>
                    <img src="../../../../assets/images/question-mark.svg">
                  </ion-avatar></div>
                <p>Looks like there are no questions available at this moment.</p>
              </ion-card-content>
            </ion-card>
          </ion-row>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>