<ion-header>
  <ion-toolbar>
    <ion-title> Add course</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button ion-button block  [routerLink]="['/courses']">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="courseForm" (ngSubmit)="SubmitCourse()"  #documentEditForm="ngForm">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Category(Subject)</mat-label>
                <mat-select formControlName="categoryName" (selectionChange)="onChangeCategory($event)">
                  <mat-option>
                    <a class="txt1" (click)="AddNewCategory()">Click her to add new category</a>
                  </mat-option>
                  <mat-option *ngFor="let category of courseCategory; let i = index" value="{{category.name}}">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix>
                </mat-icon>
                <mat-error *ngIf="courseForm.get('categoryName').hasError('required')">
                  A category is required to proceed.
                </mat-error>
              </mat-form-field>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Name</mat-label>
                <input matInput formControlName="courseName" required autocomplete="off">
                <mat-icon matSuffix>
                </mat-icon>
                <mat-error *ngIf="courseForm.get('courseName').hasError('required')">
                  A name is required to proceed.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Description</mat-label>
                <textarea matInput formControlName="courseDescription" required autocomplete="off" rows="4"></textarea>
                <mat-icon matSuffix>
                </mat-icon>
                <mat-error *ngIf="courseForm.get('courseDescription').hasError('required')">
                  A description is required to proceed.
                </mat-error>
              </mat-form-field>

            </div>

            <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <button mat-flat-button type="button" class="login100-form-btn container-login100-form-btn  float-right"
                [routerLink]="['/courses']">
                Cancel
              </button>
              <button mat-flat-button color="primary" class="login100-form-btn container-login100-form-btn float-right"
                [disabled]="!courseForm.valid" type="submit">
                Submit
              </button> 
            </div>-->

          </div>

        </form>
      </div>
      <ngx-file-picker #uploader class="file-picker" [fileMaxCount]="1" *ngIf="courseForm.valid" [adapter]="filepicker"
        (uploadSuccess)="uploadSuccess($event)" (uploadFail)="uploadFail($event)"  [fileExtensions]="contentUploadSupported"
        (validationError)= "onValidationError($event)" [accept]="contentUploadSupported">
      </ngx-file-picker>
    </div>
  </div>
</ion-content>