<ion-header>
  <ion-toolbar>
    <ion-title>Quizzes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/assessments"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isStudent" slot="end">
      <ion-button color="secondary" slot="end" (click)="AddNewQuiz()" shape="round" fill="outline">
        New Quiz
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-card ion-justify-content-center">
    <ion-grid class="grid">
      <ion-row class="ion-justify-content-center">
      <ion-card class="item-card" *ngFor="let data of assessments">
        <ion-item lines="none">
          <ion-label>{{data.assessmentTitle | titlecase}}</ion-label>
          <ion-icon *ngIf="!isStudent" name="create" color="success" slot="end" (click)="UpdateQuiz(data)"></ion-icon>
          <ion-icon *ngIf="!isStudent" name="trash" color="danger" slot="end" (click)="confirmQuizDelete(data)" ></ion-icon>
        </ion-item>
        <ion-card-content (click)="NavigateToQuestions(data)">
          <ion-card-subtitle>
            <b>Category(Subject):</b> {{subjectName | titlecase}}
          </ion-card-subtitle>
        <b>Description:</b>  {{data.assessmentDescription}} 
        </ion-card-content>
        <ion-footer>
          <ion-button (click)="NavigateToQuestions(data)" class="float-right" expand="block" fill="clear">
            Questions >>
          </ion-button>
        </ion-footer>
      </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
