.grid {
    .grid-items {
        margin-bottom: 20px;
    }
  
    .item-card {
        cursor: pointer;
        height: 100%;
        width: 400px;
    }
    ion-button {
      height: 35px;
    }
  }


  .justify-center {
    height         : 100%;
    flex-direction : column;
    text-align     : center;
    justify-content: center;
    cursor: pointer;
}
  