<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Class Rooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-card class="item-card" (click)="selectClassRoom(classRoom.classId)" *ngFor="let classRoom of classRooms">
        <ion-card-content>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../../../assets/images/classroom.svg">
            </ion-avatar>
            <ion-label>
              <h2>Class Room: <b> {{classRoom.classRoomName }} - {{classRoom.classDivision}}</b></h2>
              <p>{{classRoom.students.length}} Students</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>