<ion-header>
  <ion-toolbar>
    <ion-title>Quizzes</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button slot="end"  color="primary" shape="round" (click)="AddNewCategory()" fill="outline">
        New Category
      </ion-button> -->
      <ion-button color="secondary" slot="end" (click)="AddNewQuiz()" shape="round" fill="outline">
        New Quiz
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Title</ion-card-subtitle>
          <ion-card-title>Category(Subject)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         Description
        </ion-card-content>
        <ion-footer>
          <ion-button (click)="NavigateToQuestions()" class="float-right" expand="block" fill="clear">
            Questions
          </ion-button>
        </ion-footer>
      </ion-card>
  
</ion-content>
