<ion-header>
  <ion-toolbar>
    <ion-title> Course  </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!courseContentDisplay && !isStudent" ion-button block (click)=courseAdd()>Add Course</ion-button>
      <ion-button *ngIf="courseContentDisplay" ion-button block  (click)="dismissModal()"> Switch Category</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!courseContentDisplay">
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-card class="item-card" *ngFor="let category of categoryWiseContent" (click)="ViewContent(category.content)">
        <ion-card-header>
          <ion-card-subtitle>Path</ion-card-subtitle>
          <ion-card-title>{{category.key}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{category.length}} Courses
        </ion-card-content>
        <ion-footer>
          <ion-button class="float-right" expand="block" fill="clear" (click)="ViewContent(category.content)">
            Take a look >>
          </ion-button>
        </ion-footer>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="courseContentDisplay">
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-card class="item-card" *ngFor="let content of courseContent">
        <img src="../../../assets/images/course-default.jpg" (click)="ContentViewer(content)" alt="ion">
        <ion-card-header>
          <ion-card-subtitle>{{content.categoryName}}</ion-card-subtitle>
          <ion-card-title>{{content.courseName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-wrap">
          {{content.courseDescription}}
        </ion-card-content>
        <ion-footer>
          <ion-grid>
            <ion-row justify-content-around>
              <ion-col>
                <ion-button expand="block" fill="clear" (click)="ShareCourse($event)">
                  Share
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>