/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylishness, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap';
@import '../node_modules/@swimlane/ngx-datatable/themes/dark';
@import '../node_modules/@swimlane/ngx-datatable/themes/material';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons';

@import '../node_modules/tui-image-editor/dist/tui-image-editor.min.css';

ion-popover {
  --width: 520px;
}

ion-label {
  white-space: normal !important;
}

ion-content {
  --background: #f5f5f5;
}

.dark {
  ion-content {
    --background: #1a202e;
  }
}

.file-picker {
  .file-drop-wrapper {
    background : unset !important;
    padding-top: 0px !important;
  }

  .files-preview-wrapper {
    width: 93% !important;
  }

  .custom-drag {
    padding: 28px 0 !important;
  }

}

.swiper-slide {
  img {
    max-height: 80% !important;
  }
}

.tui-image-editor-header {
  visibility: hidden !important;
}

.tui-image-editor-main-container,
.tui-image-editor-controls {
  position: fixed !important;
}

.color-picker-control {
  ul {
    list-style-type: disc !important;

    li {
      display   : list-item;
      text-align: -webkit-match-parent;
    }
  }
}

.tui-colorpicker-palette-container {
  li {
    float     : left;
    margin    : 0;
    padding   : 0 3px 3px 0;
    list-style: none;

    .tui-colorpicker-palette-button {
      border         : 0;
      border-radius  : 100%;
      margin         : 2px;
      background-size: cover;
      font-size      : 1px;
    }
  }
}

.tui-colorpicker-palette-button {
  display : block;
  border  : none;
  overflow: hidden;
  outline : none;
  margin  : 0px;
  padding : 0px;
  width   : 16px;
  height  : 16px;
  border  : 1px solid #ccc;
  cursor  : pointer;
}

.tui-colorpicker-palette-preview {
  display       : inline-block;
  display       : inline;
  zoom          : 1;
  width         : 12px;
  height        : 12px;
  border        : 1px solid #ccc;
  border        : 1px solid #ccc;
  vertical-align: middle;
  overflow      : hidden;
}

.tui-image-editor-submenu {
  display: none !important;
}

@media (max-width: 768px) {
  .tui-image-editor {
    width: 100% !important;
  }
}


@media (max-width: 650px) {
  .grid {
      .item-card {
          width: 100% !important;
      }
  }
}


iframe {
  .freebirdFormviewerViewFooterEmbeddedBackground {
    visibility: hidden;
  }
}