<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="dashboard-report">
  {{generateReport()}}
  <!-- This is the out of box html code snippet provided by Power BI. -->
  <!-- <iframe width="1500" height="1200" src="https://msit.powerbi.com/view?r=eyJrIjoiNTNlN2Q5YTUtMjliMC00NWU0LTk1OTktZjBmYjA1MzJlYTM4IiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe> -->
</ion-content>

